<head>
</head>

<body>
    <h1>exercise-pose-analyzer</h1>
    <ul>
        <% for(var i=0; i<files.length; i++){ %>
            <li>
                <a href="./uploads/<%= files[i] %>"><%= files[i] %></a>
            </li>
        <% } %>
    </ul>
</body>
